[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sshkeyboard = "*"
colorama = "*"
keyboard = "*"
get-key = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.11"
